* {
    padding: 0;
    margin: 0;
}

.container {
    height: auto;

    justify-items: center;

    display: grid;
    grid-template-areas:
    "scarecrow scarecrow info-error"
    "footer footer footer";
    grid-template-rows: 98vh;

    margin: auto;
}

.scarecrow {
    grid-area: scarecrow;

    margin-top: 50px;
}

.scarecrow h3 {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}

.scarecrow img {
    width: 500px;
    height: 400px;

    margin-top: 150px;
}

.info-error {
    grid-area: info-error;

    margin-top: 200px;
}

.info-error h1 {
    max-width: 600px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;

    color: #333333;
}

.info-error p {
    max-width: 385px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    color: #4F4F4F;

    margin-top: 30px;
}

#back-home {
    width: 216px;
    height: 68px;
    border: none;

    background: #333333;

    margin-top: 50px;
}

#back-home a {
    text-decoration: none;

    font-family:'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;
}

.footer {
    grid-area: footer;
}

.footer  p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #BDBDBD;
}

.footer a {
    text-decoration: none;
    color: #BDBDBD;
}

@media (max-width: 800px) {

    .container {
        height: auto;

        justify-items: center;
    
        display: grid;
        grid-template-areas:
        "scarecrow scarecrow info-error"
        "footer footer footer";
        grid-template-rows: 98vh;
    
        margin: auto;
    }
    
    .scarecrow {
        grid-area: scarecrow;
    
        margin-top: 50px;
    }
    
    .scarecrow h3 {
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
    
        color: #333333;
    }
    
    .scarecrow img {
        width: 400px;
        height: 350px;
    
        margin-top: 150px;
    }
    
    .info-error {
        grid-area: info-error;
        
        margin-top: 250px;
    }
    
    .info-error h1 {
        max-width: 500px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: -0.035em;
    
        color: #333333;
    }
    
    .info-error p {
        max-width: 400px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
    
        color: #4F4F4F;
    
        margin-top: 30px;
    }
    
    #back-home {
        width: 150px;
        height: 50px;
        border: none;
    
        background: #333333;
    
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    #back-home a {
        text-decoration: none;
    
        font-family:'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .footer {
        grid-area: footer;
    }
    
    .footer  p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    
        color: #BDBDBD;
    }
    
    .footer a {
        text-decoration: none;
        color: #BDBDBD;
    }

}

@media (max-width: 700px) {

    .container {
        height: auto;

        justify-items: center;
    
        display: grid;
        grid-template-areas:
        "scarecrow scarecrow info-error"
        "footer footer footer";
        grid-template-rows: 98vh;
    
        margin: auto;
    }
    
    .scarecrow {
        grid-area: scarecrow;
    
        margin-top: 50px;
    }
    
    .scarecrow h3 {
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
    
        color: #333333;
    }
    
    .scarecrow img {
        width: 300px;
        height: 250px;
    
        margin-top: 150px;
    }
    
    .info-error {
        grid-area: info-error;
    
        margin-top: 200px;
    }
    
    .info-error h1 {
        max-width: 350px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 50px;
        letter-spacing: -0.035em;
    
        color: #333333;
    }
    
    .info-error p {
        max-width: 280px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: -0.035em;
    
        color: #4F4F4F;
    
        margin-top: 30px;
    }
    
    #back-home {
        width: 150px;
        height: 50px;
        border: none;
    
        background: #333333;
    
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    #back-home a {
        text-decoration: none;
    
        font-family:'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .footer {
        grid-area: footer;
    }
    
    .footer  p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    
        color: #BDBDBD;
    }
    
    .footer a {
        text-decoration: none;
        color: #BDBDBD;
    }

}

@media (max-width: 450px) {

    .container {
        height: auto;

        justify-items: center;
    
        display: grid;
        grid-template-areas:
        "scarecrow scarecrow scarecrow"
        "info-error info-error info-error"
        "footer footer footer";
        grid-template-rows: 98vh;
    
        margin: auto;
    }
    
    .scarecrow {
        grid-area: scarecrow;
    
        margin-top: 50px;
    }
    
    .scarecrow h3 {
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
    
        color: #333333;
    }
    
    .scarecrow img {
        width: 250px;
        height: 200px;
    
        margin-top: 50px;

        margin-bottom: 0;
    }
    
    .info-error {
        grid-area: info-error;
    
        margin-top: -250px;
    }
    
    .info-error h1 {
        max-width: 350px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 50px;
        letter-spacing: -0.035em;
    
        color: #333333;
    }
    
    .info-error p {
        max-width: 280px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: -0.035em;
    
        color: #4F4F4F;
    
        margin-top: 30px;
    }
    
    #back-home {
        width: 150px;
        height: 50px;
        border: none;
    
        background: #333333;
    
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    #back-home a {
        text-decoration: none;
    
        font-family:'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .footer {
        grid-area: footer;
    }
    
    .footer  p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    
        color: #BDBDBD;
    }
    
    .footer a {
        text-decoration: none;
        color: #BDBDBD;
    }

}

@media (max-width: 350px) {

    .container {
        height: auto;

        justify-items: center;
    
        display: grid;
        grid-template-areas:
        "scarecrow scarecrow scarecrow"
        "info-error info-error info-error"
        "footer footer footer";
        grid-template-rows: 98vh;
    
        margin: auto;
    }
    
    .scarecrow {
        grid-area: scarecrow;
    
        margin-top: 50px;
    }
    
    .scarecrow h3 {
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
    
        color: #333333;
    }
    
    .scarecrow img {
        width: 250px;
        height: 200px;
    
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    .info-error {
        grid-area: info-error;

        margin: auto;
    }
    
    .info-error h1 {
        max-width: 300px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.035em;
    
        color: #333333;
    }
    
    .info-error p {
        max-width: 280px;
    
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: -0.035em;
    
        color: #4F4F4F;
    
        margin-top: 30px;
    }
    
    #back-home {
        width: 150px;
        height: 50px;
        border: none;
    
        background: #333333;
    
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    #back-home a {
        text-decoration: none;
    
        font-family:'Space Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .footer {
        grid-area: footer;
    }
    
    .footer  p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    
        color: #BDBDBD;
    }
    
    .footer a {
        text-decoration: none;
        color: #BDBDBD;
    }

}